<h1>Login</h1>
<form class="login" method="post" action="/users">
  <label for="username">username:</label>
  <input type="text" id="username" name="username" autofocus/>
  <label for="password">password:</label>
  <input type="password" id="password" name="password"/>
  <input type="submit" value="Login">
</form>

<h1>Signup</h1>
<form class="signup" method="post" action="/users/new">
  <label for="username">username:</label>
  <input type="text" id="username" name="username"/>
  <label for="password">password:</label>
  <input type="password" id="password" name="password"/>
  <input type="submit" value="Signup">
</form>